{#
/**
 * Magic Form
 */
#}
{{ attach_library('mittelmoda/magic-form') }}

<div id="{{ id }}" class="magic-form margin-v-2 c-plain">
  <span class="vertical-line"></span>
  <div id="{{id}}-head" class="magic-form__head negative margin-b-1">
    <h2 class="margin-b-025 margin-t-0">For more information feel free to get in touch with our team!</h2>
    <p>info@mittelmoda.com</p>
  </div>
  <div class="magic-form__form">
    {{ webform }}
  </div>
</div>