{#
/**
 * Pagination arrow
 */
#}

<div class="pagination-arrow">
  <a href="{{prev_url}}" class="pagination-arrow__link pagination-arrow__prev" title="{{prev_title}}">
    <i class="material-icons">keyboard_arrow_left</i>  
  </a>
  <a href="{{next_url}}" class="pagination-arrow__link pagination-arrow__next" title="{{next_title}}">
    <i class="material-icons">keyboard_arrow_right</i> 
  </a>
</div>