{#
/**
 * Archive Bundle Select
 */
#}

<div class="wrapper-bundle-select">
  <a href="#" id="bundle-select" class="bundle-select h4">{{ name }} <i class="material-icons">keyboard_arrow_down</i></a>
</div>
<div id="bundle-select-list" class="wrapper-bundle-select-list">
  <ul class="bundle-select__list">
    {{ select }}
  </ul>
</div>