{#
/**
 * Cookie Msg
 */
#}

<div class="wrapper-cookie messages hide">
  <div class="alert alert-block alert-info">
    Cookies help us to provide our services. Using this website you accept the use of cookies.
    <span><a href="{{ content.url_string }}" class="btn btn-xs btn-default">Info</a></span>
    <span><a id="cookie-agree" href="#" class="btn btn-xs btn-default">Ok</a></span>
  </div>
</div>