{#
/**
 * Mittel Moda Front
 */
#}

<div class="mittelmoda-front">
  <div class="row">
    <div class="container">
      {{ content.node }}  
    </div>
  </div>
  <div class="row">
    {{ content.image }}
  </div>
  {{ content.award }}

  {{ content.sponsor }}
</div>