<html>
<head>
  <title>Headless Drupal 8</title>
</head>
<body>
<div id="main-container"></div>

<script src="//code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="//underscorejs.org/underscore-min.js" type="text/javascript"></script>
<script src="//backbonejs.org/backbone-min.js" type="text/javascript"></script>

<script src="app.js" type="text/javascript"></script>

<!-- Templates -->

<!-- Single Article template -->
<script type="text/template" id="article-view">
  <div class="training">
    <h2><%= title %></h2>
    <pre>Date: <%= field_date_programmed %></pre>
    <pre>Total distance: <%= field_total_distance %></pre>
    <pre><%= body %></pre>
  </div>
</script>

<!-- List of Articles template -->
<script type="text/template" id="articles-list">
  <h1>Upcoming events</h1>
  <ul></ul>
</script>

</body>
</html>