{{ attach_library('training_calendar/training-calendar') }}
{#{{ attach_library('sameh/sameh') }}#}

<div class="training-calendar-overlay">
	<div class="loading">
		<div class="loading-bar"></div>
		<div class="loading-bar"></div>
		<div class="loading-bar"></div>
		<div class="loading-bar"></div>
	</div>
</div>

<div id="training-calendar-main">
	<div class='tc-modals'></div>
	<div class='tc-calendar'></div>
</div>



{#--------------------------------------------------------------------------------------------------------------------#}
{#----------------------------------------------------- TEMPLATES ----------------------------------------------------#}
{#--------------------------------------------------------------------------------------------------------------------#}

{#--- TRAINING EDIT TEMPLATE ---#}
<script type="text/template" id="template--training-edit">
	<div class="bbm-modal__topbar">
		<h3 class="bbm-modal__title"><%= title %></h3>
	</div>
	<div class="bbm-modal__section">
		<div class="bbm-modal__form">
			{#FORM WILL GO HERE#}
		</div>
	</div>
	<div class="bbm-modal__bottombar">
		<button type="submit" name="save" class="btn submit-model">Save</button>
	</div>
</script>


{#--- UNUSED! - TRAINING ELEMENT TEMPLATE ---#}
<script type="text/template" id="template--training-view">
	<div class="training col-md-4">
		<h2><%= title %></h2>
		<p>ID: <%= nid %></p>
		<p>Date: <%= field_date_programmed %></p>
		<p>Total distance: <%= field_total_distance %></p>
		{#<pre class="debug"><% print(JSON.stringify(this.model)); %></pre>#}
		<button type="button" class="training-calendar--event--action-1">Edit title</button>
	</div>
</script>

