{#
/**
 * Related Products
 */
#}

<div class="related-products">
  <div class="related-products__head text-center">
    <h4>{{ title }}</h4>
  </div>
  <div class="related-products__nodes">
    {{ content }}
  </div>
</div>